.app.dark {
  $text: #fafafa;
  $background: #050505;
  $primary: #684018;
  $secondary: #202013;
  $accent: #e2e283;

  --text-color: #fafafa;
  --background-color: #050505;
  --primary-color: #684018;
  --secondary-color: #202013;
  --accent-color: #e2e283;
}
