.app.light {
  $text: #050505;
  $background: #fafafa;
  $primary: #684018;
  $secondary: #ececdf;
  $accent: #cfcf30;

  --text-color: #050505;
  --background-color: #fafafa;
  --primary-color: #684018;
  --secondary-color: #ececdf;
  --accent-color: #cfcf30;
}
