.join-room-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Semi-transparent overlay */
}

.join-room-input {
  border: 0;
  height: 20px;
  border-radius: 6px;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 10px;
}

.join-room-input:focus {
  outline: none;
}

.join-room-btn {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 6px;
  font-size: 15px;
  border: 0;
  padding: 0.5em 1em;
  transform: ease 0.2s;
}

.error {
  color: rgb(233, 122, 122);
  font-size: 14px;
  margin-top: 5px;
  opacity: 0.8;
}
