.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 40px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.project-name {
  color: var(--text-color);
}

.nav-links {
  list-style: none;
}

.exit-button {
  margin-right: 10px;
}

.exit-svg {
  width: 40px;
  height: 40px;
}

.language-select {
  background-color: var(--nav-bg);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 5px;

  option {
    background: var(--nav-bg);
    color: var(--text-color);
  }
}
