.layout-container {
  margin: 0;
}

.hint {
  color: var(--accent-color);
  font-size: 15px;
}

.message-svg {
  width: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
}

.video-player {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #31312e;
}

.file-sharing-container {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  z-index: 1000;

  &-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #5a9;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.file-receiving-container {
  position: fixed;
  top: 76px;
  right: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

@media (max-width: 700px) {
  .file-sharing-container,
  .file-receiving-container {
    right: 8px;
    left: 8px;
    align-items: flex-end;
  }

  .file-sharing-container {
    bottom: 8px;
  }

  .file-receiving-container {
    top: 68px;
  }
}
